<h4>Base objetivos</h4>
<div class="jumbotron">

<!-- COMPONENTE PARA CARGAR EL ARCHIVO HTML -->
<js-xls onread="readUser" onerror="error"></js-xls> 
  

  <!-- TEXTO INFORMATIVO -->
  <p class="lead">
    Selecciona archivo .xlsx/.xls para cargar usuarios.
  </p>
  
</div>



<!-- TABLA MOSTRANDO DATOS -->

<h3>Total {{listaInsertar.length}}</h3>

<button ng-click="inserta()">Insertar</button>
<table class="w3-table">
<tr>

  <th style="width: 10%">Ruta</th>
  <th style="width: 30%">Gerente</th>
  <th style="width: 20%">Marca</th>
  <th style="width: 22%">Objetivo venta</th>
  <th style="width: 22%">Objetivo visita</th>
  <th style="width: 22%">Base clientes</th>

</tr>
<tr ng-repeat="data in listaInsertar" ng-if="$index > 0">

 
  <td>{{data.ruta}}</td>
  <td>{{data.gerente}}</td>
  <td>{{data.marca}}</td>
  <td>{{data.objetivoVenta}}</td>
  <td>{{data.objetivoVisita}}</td>
  <td>{{data.baseClientes}}</td>
</tr>
</table>

<!-- FIN TABLA-->
<!-- INICIO ESTILOS -->
<style type="text/css">
table.gridtable {
  font-family: verdana,arial,sans-serif;
  font-size:11px;
  color:#333333;
  border-width: 1px;
  border-color: #666666;
  border-collapse: collapse;
}
table.gridtable th {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #666666;
  background-color: #dedede;
}
table.gridtable td {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #666666;
  background-color: #ffffff;
}
</style>

<!-- FIN ESTILOS -->

